<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddokshik.list.listMapper">

	<select id="getFoodList" parameterType="com.ddokshik.list.form.ListForm" resultType="com.ddokshik.list.dto.ListDto">
	
		SELECT 
		food_category,
		food_name,
		food_detail,
		food_gram
		FROM user01
	
	</select>
	
</mapper>


