<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.board.listMapper">

	<select id="getMaList" parameterType="com.spring.board.form.BoardForm" resultType="com.spring.board.dto.BoardDto">
	
		SELECT 
		ingredient_no,
		ingredient_category,
		ingredient_name,
		ingredient_detail,
		cal
		
		FROM ingredient_list
	
	</select>
	
</mapper>


